/* Structure */
body {
    background: url("images/otterpic.jpeg");
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    width:95%;
    margin:auto;
    background: rgba(255,255,255,0.7); 
    border-radius: 5px;
}

#species section {
    background: lightgreen;
    padding:5px;
    margin: 5px;
}

#main_aside {
    background:  lightsalmon;
}

#news section {
    background: lightsalmon;
}

img {
    max-width: 100%;
}

#main_header {
    background-color: skyblue;
    border-radius: 5px;
}

#main_footer {
    background-color: violet;
}

/* Navigation */
#main_nav ul {
    padding-left:0;
}

#main_nav li {
    list-style: none;
    border-bottom: 1px solid violet;
}

#main_nav a {
    text-decoration: none;
    padding: 5px;
    background:black;
    color:violet;
    display:block;
}

/* Typography */
#main_footer p {
    text-align: center;
}

/* Media Queries */

/* Apply to 600px and larger */
@media only screen and (min-width:600px) {
    .columns {
        display:flex;
    }

    .one {
        flex:1;
    }

    .two {
        flex:1
    }

    .three {
        flex:1;
    }

    .four {
        flex:1;
    }

    #main_nav li {
        flex:1;
    }
}
/* Apply to 768px and larger */
@media only screen and (min-width:768px) {
    
}
