body {
    background : violet;
    font-family: Helvetica;
}

div {
    background : white;
    padding : 5px;
    margin : 20px auto;
    width : 70%;
}

h1 {
    color : red;
}

p {
    color : blue;
}